@import "../../styles/layout";

.header {
  height: var(--header-height);
  background: #000;
  padding-left: 20px;
  color: #ffffff;
  transition: color 200ms;
  @include flex-row(center, start);
  @include heading;
  font-size: 28px;
  button {
    background: transparent;
    border: unset;
    padding-right: 15px;
    cursor: pointer;
    svg {
      height: 30px;
      width: 30px;
    }
  }
}
